<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<title>Angular Rest SpringSecurity Example</title>
    <link href="webjars/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 </head>
<body style="padding-top: 60px">

	<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Angular+Rest+SpringSecurity</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#!/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-show="user">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="logout()">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="alert alert-danger" ng-show="error">{{error}}</div>
		<div ng-view></div>
	</div>


	<script src="webjars/jquery/2.0.3/jquery.js"></script>
	<script src="webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="webjars/angularjs/1.2.13/angular.js"></script>
    <script src="webjars/angularjs/1.2.13/angular-resource.js"></script>
    <script src="webjars/angularjs/1.2.13/angular-route.js"></script>
    <script src="webjars/angularjs/1.2.13/angular-cookies.js"></script>
    <script src="js/app.js"></script>
	<script src="js/spring-security-csrf-token-interceptor.js"></script>
</body>
</html>